[submodule "light/components/arduino"]
	path = light/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp/common_components/NTPClient"]
	path = esp/common_components/NTPClient
	url = https://github.com/jonshaw199/NTPClient.git