[submodule "light/components/fastled"]
	path = light/components/fastled
	url = https://github.com/FastLED/FastLED.git
[submodule "light/components/arduino"]
	path = light/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
